

* {
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'base/typography';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/feautures';