

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'base/typography';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/feautures';
@import 'blocks/consultation';
@import 'blocks/forms';