.consultation {
    min-height: 680px;
    padding: 100px 30px 92px 30px;
    background: url('../../img/form-bg.png') center (center/cover) no-repeat;

    &__descr {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }
}

@media (max-width: 525px) {
    .consultation {
        min-height: 540px;
        padding: 60px 30px 42px 30px;
    }
}

